@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-text p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text a {
  color: rgb(49, 49, 180);
}

.blog-text ul,
.blog-text ol {
  line-height: 2;
  margin:  10px 0 15px 20px;
  list-style-type: disc;
}


.blog-text pre {
  /* background: #f4f4f4; */
  background: rgb(29, 27, 27);
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  padding: 20px;
  margin: 40px 0;
  line-height: 2;
  font-size: 0.9rem;
}

.blog-text code {
  background: #f4f4f4;
  padding: 0.5rem;
}

.blog-text pre code {
  background: initial;
  pad: initial;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2 {
  font-size: 28px;
}

.blog-text h3 {
  font-size: 26px;
}

.blog-text h4 {
  font-size: 24px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-weight: 600;
}

.blog-text img {
  margin: 40px 0;
}

.bg-js_custom {
  background: #FACC15;
}

.bg-react_custom {
  background: #61dbfb;
}

.bg-css_custom {
  background: #0370B9;
}

.bg-testing_custom {
  background: #681929;
}

.bg-general_custom {
  background: #09151d;
}

.post-card-title {
  min-height: 50px;
  display: block;
}
